---
import { Picture } from "astro:assets";
import sawanImg from "../../assets/raster/sawan.png";
import falschParkerImg from "../../assets/raster/falschparker.png";
import mapImg from "../../assets/raster/map.png";
import { HEADING_DETAILS } from "../../constants/heading";
import StagerAnimation from "../StagerAnimation.astro";

const { city, country, currentCompany, name } = HEADING_DETAILS;
---

<h1 class="flex flex-col pt-20 font-serif text-2xl antialiased md:text-4xl">
  <StagerAnimation isIndividualTitle staggerOrder={1}>
    <div class="flex items-center gap-2">
      <span class="text-light">Hey,</span>
      <span class="text-dark">I’m</span>
      <Picture
        loading={"eager"}
        src={sawanImg}
        formats={["avif", "webp", "png"]}
        alt="sawan"
        draggable={false}
        class="w-10 md:w-20"
      />
      <span class="text-dark">{name}</span>
    </div>
  </StagerAnimation>
  <StagerAnimation isIndividualTitle staggerOrder={2}>
    <div class="flex items-center gap-2 md:-translate-y-4">
      <span
        class="bg-linear-to-r from-violet-500 to-blue-500 bg-clip-text text-transparent"
      >
        a Developer
      </span>
      <span class="text-light">at</span>
      <Picture
        loading={"eager"}
        src={falschParkerImg}
        formats={["avif", "webp", "png"]}
        alt="Falsch Parker's Logo"
        draggable={false}
        class="aspect-square w-10 -translate-x-2 md:w-24"
      />
      <span class="text-dark -translate-x-4">{currentCompany}</span>
    </div>
  </StagerAnimation>
  <StagerAnimation isIndividualTitle staggerOrder={3}>
    <div class="flex items-center gap-2 md:-translate-y-8">
      <span class="text-light">based in</span>
      <span class="text-dark">{city},</span>
      <Picture
        loading={"eager"}
        src={mapImg}
        formats={["avif", "webp", "png"]}
        alt="Kolkata's Map"
        draggable={false}
        class="w-10 -translate-x-2 translate-y-3 md:w-24"
      />

      <span class="text-dark -translate-x-4">{country}</span>
    </div>
  </StagerAnimation>
</h1>
